@import "custom/variables";
@import "mediumish";
@import "external/tango_syntax";
@import "custom/navigation";

.list-page {
    section {
        margin-top: 40px;
    }
}

.category-card {
    .card-title-container {
        display: flex;
        align-items: center;

        .card-title {
            padding: 0;
            margin: 0;
            font-size: 1.9rem;
        }
    }
}

.listfeaturedtag {
    .card {
        height: 500px;

        .row {
            height: 100%;
        }
    }
}

.card.category-card {
    height: 80px;
}

.card.featured-card {
    .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 22px;
    }

    .card-content {
        display: flex;
        align-items: center;
    }

    .summary {
        font-size: 18px;
        color: $article-body-color;
    }

    .metafooter {
        position: inherit;
    }
}

.card {
    border: 1px solid rgba(38,41,58,.1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(38,41,58,.06);
    box-shadow: 0 1px 3px 0 rgba(38,41,58,.06);
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .2s ease;
    height: 300px;

    &:hover {
        -webkit-box-shadow: 0 2px 8px rgba(38,41,58,.1);
        box-shadow: 0 2px 8px rgba(38,41,58,.1);
    }

    .card--image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    
    .metafooter {
        position: absolute;
        bottom: 20px;
        width: 85%;
    }

    .post-category-icon {
        align-items:center;
        float:right;
        padding: 0;
        margin: 0;
        
        img {
            width: 35px;
            height: 35px;
        }
    }
}

.article-link {
    padding: 15px;
    margin-bottom: 8px;
    cursor: pointer;
}


.bottompagination span.navigation {
    display:block;
    font-size:0.93rem;
    padding:15px 0 0 0;
    text-align:center;
    margin-bottom:0rem;
    color:#999;
    border-top:1px solid #ddd;
}
.pointerup {
    margin-bottom:-17px;
    margin-left:49%;
    font-size:30px;
}
.pointerup i.fa {
    color:#eaeaea;
}
.bottompagination span.navigation i {
    display:inline-block;
}
span.navigation {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 700;
    text-align:center;
}
.pagination {
   display:block;
}