{{ define "main" }}
<!-- <div class="top-banner"></div> -->

<div class="intro-section">
    <div class="intro-container large">
        <div class="text-section">
            <div class="welcome-text">Hello</div>
            <h1>
                I am Juri.<br />
                <span>developer, speaker, instructor.</span>
            </h1>
            <p>
                I'm a passionate developer with 10+ years of experience in various fields...
            </p>
            <div class="page-links">
                <a href="/blog" class="page-button">Read my articles</a>
                <a href="/blog" class="page-button">My Talks</a>
                <a href="/blog" class="page-button">My Videos</a>
                <a href="/blog" class="page-button">Need consulting?</a>
            </div>
        </div>
        <div class="profile-pic-section">
            <img src="https://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=350&d=identicon&r=PG" />
        </div>
    </div>
</div>

{{ end }}