<div class="card category-card">
    <div class="card-block">
        <div class="row">
            <div class="col-3">
                <div class="post-category-icon">
                    <img src="/assets/images/categories/{{ lower (replace (replace (replace .Title "." "_") "#" "_") "+" "__") }}.svg" />
                </div>
            </div>
            <div class="col-7 card-title-container">
                <h2 class="card-title">
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
            </div>
        </div>
    </div>
</div>